fit_results/
.ipynb_checkpoints/
*.pyc
$*
/fitter/__pycache__/
/notes/*.aux
/notes/*.bbl
/notes/*.bcf
/notes/*.blg
/notes/*.fls
/notes/*.gz
/notes/*.log
/notes/*.out
/notes/*.pdf
/notes/*.xml
/notes/*.yaml
notes/*.fdb_latexmk
/notes/notesNotes.bib
/tmp/*
notes/notes.fdb_latexmk
.vscode/settings.json
grant_notes.pdf
grant_notes.synctex.gz
grant_notes.aux
grant_notes.bbl
grant_notes.pdf
grant_notes.synctex.gz
data/hyper_spec_axial.h5
grant_notes.fdb_latexmk
grant_notes.fls
grant_notes.log
grant_notes.out
0904/IsospinTMLQCD.tex
data/hyperon_data.h5
data/hyperon_data.h5
